
## Sub-files to include
[include macros_tuning.cfg] 
[include shell_command.cfg]
[include macros_generic.cfg]
[include timelapse.cfg]


## Required by fluid
[virtual_sdcard]
path: /home/zach/printer_data/gcodes

[display_status]

[pause_resume]

## 
[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 248
homing_speed: 100

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 230
homing_speed: 100

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250



[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -42.6
y_offset: -6.7
z_offset: 2.575
[safe_z_home]
home_xy_position: 117,117
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 150
horizontal_move_z: 7
mesh_min: 14.4,7.3
mesh_max: 205,220
probe_count: 7,7
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0




[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 32.00 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp=23.988 
pid_Ki=1.259 
pid_Kd=114.244
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4

control: pid
pid_Kp: 72.415
pid_Ki: 1.850
pid_Kd: 708.759

min_temp: 0
max_temp: 130
#pwm_cycle_time: 0.01666 #Un-Comment this to adjust if there is light flickering issues


[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.005000, -0.047500, -0.007500, -0.005000, -0.000000, 0.022500, 0.070000
#*# 	  0.132500, 0.060000, 0.075000, 0.055000, 0.062500, 0.067500, 0.100000
#*# 	  0.122500, 0.062500, 0.080000, 0.070000, 0.080000, 0.092500, 0.130000
#*# 	  0.210000, 0.122500, 0.140000, 0.095000, 0.100000, 0.105000, 0.135000
#*# 	  0.220000, 0.130000, 0.152500, 0.127500, 0.137500, 0.150000, 0.177500
#*# 	  0.245000, 0.152500, 0.162500, 0.130000, 0.137500, 0.145000, 0.185000
#*# 	  0.275000, 0.192500, 0.220000, 0.190000, 0.207500, 0.227500, 0.272500
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 14.399999999999999
#*# max_x = 204.96
#*# min_y = 7.3
#*# max_y = 219.94
